<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="logstash"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<param name="Encoding" value="UTF-8" />

		<!-- should be an env variable in production -->
		<remoteHost>logstash-service</remoteHost>
		<!-- <remoteHost>${LOGSTASH_SERVICE_REMOTE_HOST:logstash-service}</remoteHost> -->
		
		<!-- should be an env variable in production -->
		<port>5100</port>
		<!-- <port>${LOGSTASH_SERVICE_REMOTE_PORT:5000}</port> -->

		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"app_name":"YourApp", "app_port": "YourPort"}</customFields>
		</encoder>
	</appender>

	<root level="TRACE">
		<appender-ref ref="logstash" />
	</root>

</configuration>
